torch torchvision
tensorflow-gpu==1.15
tensorboardX
scipy
requests
Pillow
opencv-python
opencv-contrib-python
scikit-learn
scikit-image
matplotlib
numpy
numba
pandas
tqdm
progressbar
mtcnn
facenet-pytorch
nltk
pickle-mixin
regex
pyparsing
boto3
botocore
certifi
chardet
Click
cycler
docutils
idna
jmespath
joblib
kiwisolver
python-dateutil
transformers
pytz
s3transfer
sacremoses
sentencepiece
six
urllib3
langdetect
pytorch-transformers
coloredlogs
colorama
deep-translator
lpips
imageio-ffmpeg
pyspng
